<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="panel panel-default items">
  <h3>
         Empty cart! Click <%= link_to 'here', :root %> to go back to the main page.
        </h3>  
  </div>  
</section>