<h1>Jungle history - how it all began</h1>
<p>The following history shows how over six decades Jungle went from the woods of southern Sweden to being a major retail experience in 40 countries/territories around the world.</p>
<p>The Jungle story begins in 1926 when founder Ingvar Kamprad is born in Småland in southern Sweden. He is raised on 'Elmtaryd', a farm near the small village of Agunnaryd. Even as a young boy Ingvar knows he wants to develop a business.</p>

<p>At the age of five Ingvar Kamprad starts selling matches to his nearby neighbours and by the time he is seven, he starts selling further afield, using his bicycle. He finds that he can buy matches in bulk cheaply in Stockholm and re-sell them individually at a very low price but still make a good profit. From matches he expands to selling flower seeds, greeting cards, Christmas tree decorations, and later pencils and ball-point pens.</p>